body {
	text-align: center;
}

.div_up, .div_bottom {
	align-items: stretch;
	display: flex;
	flex-wrap: wrap;
}

#rList::before {
	content: "Running List";
}

#eList::before {
	content: "Ended List";
}

.div_up > div::before {
	display: block;
	font-size: 125%;
	font-weight: bold;
	padding: 1em 0;
}

.div_up > div, .div_bottom > form {
	flex: 1;
}

.div_up {
	min-height: 300px;
	text-align: center;
}

input[type="submit"].btn_2 {
	background-color: #d8e1fe;
}

input[type="submit"].btn_2:hover {
	background-color: #ebeffb;
}

form {
	border: 1px solid deeppink;
	border-radius: 0.5em;
	margin: 0.5em;
	padding: 0 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: space-between;
}

form > *:not(:last-child) {
	margin-bottom: 0;
}
