* {
	box-sizing: border-box;
	font-family: sans-serif;
}

html, body {
	min-height: 100vh;
}

body {
	background-color: Snow;
	border: 0.5rem dotted Pink;
	margin: 0 auto;
	line-height: 1.75;
	padding: 0 10%;
	text-align: center;
}

button, input {
	background-color: FloralWhite;
	border: 0.0625rem solid grey;
	border-radius: 0.25rem;
	transition-duration: 0.4s;
}

button {
	padding: 0.35rem 0.75rem;
}

input {
	padding: 0.25rem 0.375rem;
}

button:hover, input:hover {
	background-color: White;
}

table {
	border-collapse: collapse;
	margin: 0rem auto;
}

table, th, td {
	border: 0.125rem solid black;
	padding: 0.5rem 0.75rem;
}

.div_up, .div_bottom {
	display: flex;
}

.div_up > span, .div_bottom > span {
	flex: 1;
}

.div_up {
	min-height: 300px;
}

.div_bottom > span {
	align-items: flex-end;
	border: 0.125rem solid black;
	border-radius: 0.5rem;
	min-height: 235px;
	margin: 1rem;
	padding: 1rem 1rem 0rem 1rem;
}
