* {
	box-sizing: border-box;
	font-family: sans-serif;
}

html, body {
	min-height: 100vh;
}

body {
	background-color: snow;
	border: 0.5em dotted pink;
	margin: 0 auto;
	padding: 1rem 10%;
}

input {
	border: 1px solid grey;
	padding: 0.25em 0.375em;
	transition-duration: 0.4s;
}

input:hover {
	background-color: white;
}

label {
	display: block;
	padding: 0.25em 0;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
}

th, td {
	border: 1px solid black;
	padding: 0.25em 0.5em;
}

.div_up, .div_bottom {
	align-items: stretch;
	display: flex;
	flex-wrap: wrap;
}

.div_up > section, .div_bottom > form {
	flex: 1;
}

.div_up {
	min-height: 300px;
	text-align: center;
}

fieldset {
	height: 100%;
}
