* {
	font-family: sans-serif;
}

textarea {
	height: 7em;
	padding: 0.5em;
	resize: none;
	width: 12em;
}

.content {
	display: flex;
	flex-wrap: wrap;
}

.content>div {
	padding: 1em;
}

.alloc {
	color: green;
}

.unalloc {
	color: red;
}

table, th, td {
	border: 2px solid;
	border-collapse: collapse;
	margin: 1em;
	padding: 0.25em;
}
