* {
	box-sizing: border-box;
}

body {
	background-color: Snow;
	border: 0.5rem dotted Pink;
	font-family: sans-serif;
	margin: 0 auto;
	padding-bottom: 1rem;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 1rem;
}

button {
	background-color: FloralWhite;
	border: 0.0625rem solid grey;
	border-radius: 0.25rem;
	padding: 0.25rem 0.75rem;
	transition-duration: 0.4s;
}

button:hover {
	background-color: White;
}

textarea {
	border: 2px solid;
	height: 7em;
	padding: 0.5em;
	resize: none;
	width: 12em;
}

.content {
	display: flex;
	flex-wrap: wrap;
}

button, .content>div {
	margin: 0 1rem;
}

.alloc {
	color: green;
}

.unalloc {
	color: red;
}

table, th, td {
	border: 2px solid;
	border-collapse: collapse;
	margin: 1em;
	padding: 0.25em;
}
