label {
	padding: 0 1em;
}

textarea {
	font-family: Consolas, monospace;
	height: 7em;
	resize: none;
	width: 100%;
}

form > div {
	display: flex;
	flex-wrap: wrap;
}

form > div > label {
	flex: 1;
}

form > div > label > textarea {
	display: block !important;
}

.alloc {
	color: green;
}

.unalloc {
	color: red;
}

span[title] {
	text-decoration-line: underline;
	text-decoration-style: dashed;
}
