* {
box-sizing: border-box;
}

html {
height: 100%;
}

body {
background-color: Snow;
border: 0.5rem dotted Pink;
font-family: sans;
height: 100%;
margin: 0 auto;
padding-bottom: 1rem;
padding-left: 10%;
padding-right: 10%;
padding-top: 1rem;
}

.container {
display: flex;
}

.container > * {
border: 1px solid black;
flex: 1;
margin: 1em;
padding: 1em;
}

button {
background-color: FloralWhite;
border: 0.0625rem solid grey;
border-radius: 0.25rem;
padding: 0.25rem 0.75rem;
transition-duration: 0.4s;
}

button:hover {
background-color: White;
}
