body {
	text-align: center;
}

input[type="button"].btn_2 {
	background-color: #d8e1fe;
}

input[type="button"].btn_2:hover {
	background-color: #ebeffb;
}

canvas {
	background-color: white;
	border: 1px solid;
	width: 100%;
	height: 5em;
}

.panel {
	align-items: flex-end;
	border: 2px solid grey;
	display: flex;
	text-align: center;
}

.panel > div {
	flex: 1;
}

#p_warn {
	color: red;
}

#p_warn:empty {
	display: none;
}
