input, button {
	border: 1px solid black;
	margin: 0.5em;
	padding: 0.25rem 0.75rem;
}

button {
	border-radius: 0.25rem;
	transition-duration: 0.4s;
}

.btn_1 {
	background-color: #ffb9b9;
}

.btn_1:hover {
	background-color: #ffdcdc;
}

.btn_2 {
	background-color: #d8e1fe;
}

.btn_2:hover {
	background-color: #ebeffb;
}

canvas {
	background-color: white;
	border: 1px solid;
	width: 100%;
	height: 5em;
}

.panel {
	align-items: flex-end;
	border: 2px solid grey;
	display: flex;
	text-align: center;
}

.panel > div {
	flex: 1;
}

#p_warn {
	color: red;
	display: none;
	margin: 0.25rem 0;
}
